.navbar{
	min-height:162px;
	& .navbar-default{
		background-color: transparent;
		border-color: transparent;
		& .container{
			& .fa-search {
				float: right;
				font-size: 16px;
				margin-top: 14px;
			}
			& .logogoogle {
				margin-top: 30px;
    			width: 30%; 
			}
			& .navbar-collapse{
				& .navbar-nav{
					float: none;
					width: 37%;
					margin: 0 auto;
				}	
			}
		}		
	}
}
.one_method{
	& .container{
		& .row{
			& .boxmethod{
				& .img_one{
					width: 100%;
				}
				& .one_title{
					font-size: 31px;
					margin-bottom: 20px;
				}
				& .one_subtitle{
					font-size: 16px;
					font-weight: 600;
					margin-bottom: 20px;
				}
				& .box_text {
					width: 57%;
					margin-bottom: 40px;
				}
				hr{
					margin-top: 70px;
					border-top: 3px solid $azul;
				}
				
			}
		}
	}
}
.two_newsfeed{
	& .container{
		& .row{
			& .boxnews{
				margin-top: 40px;
				& .two_title{
					margin-bottom: 20px;
				}
				& .two_img{
					width: 100%;
					margin-bottom: 20px;
				}
			}
			& .boxallnews{
				margin-top: 40px;
				& .two_tag{
					color: $azul;
					float: right;
					margin-bottom: 20px;
				}
				& .two_news {
					margin-top: 20px;
				}
				& .box_mail {
					background-color: #F1F3F4;
					border-radius: 7px;
					padding: 18px;
					margin-top: 40px;
					& .row{
						& .box_grande{
							& .text_up{
							}
							& .text_sign{
								color: $azul;
							}
						}
						& .box_chico{
							& .img_gd {
								float: right;
								margin-right: 26px;
							}
						}
					}
				}
			}
			& .hrdos{
				margin-top: 100px;
				border-top: 3px solid $azul;
			}
		}
	}
}
.third_photos{
	& .container{
		& .row{
			& .division{
				hr{
					border-top: 3px solid $azul;
					margin-top: 100px;
				}
			}
		}
		& .row{
			& .thirdbox{
				margin-top: 40px;
				& .cases{
					& .third_img{
						width: 100%;
					}
				}
			}
			& .thirdboxx{
				margin-top: 40px;
				& .cases{
					& .third_img{
						width: 100%;
					}
				}
			}

		}
	}
}

