.navbar{
	min-height:162px;
	& .navbar-default{
		background-color: transparent;
		border-color: transparent;
		& .container{
			& .fa-search {
				float: right;
				font-size: 16px;
				margin-top: 14px;
			}
			& .logogoogle {
				margin-top: 30px;
    			width: 30%; 
			}
			& .navbar-collapse{
				& .navbar-nav{
					float: none;
					width: 37%;
					margin: 0 auto;
				}	
			}
		}		
	}
}
.one_method{
	& .container{
		& .row{
			& .boxmethod{
				& .img_one{
					width: 100%;
				}
				& .one_title{
					font-size: 23px;
				}
				& .one_subtitle{
					font-size: 16px;
					font-weight: 600;
				}
				& .box_text {
					width: 57%;
					margin-bottom: 40px;
				}
				hr{
					margin-top: 70px;
					border-top: 3px solid $azul;
				}
				
			}
		}
	}
}

